body {
    color: white;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    /* Esto distribuirá los elementos a lo largo del eje principal */
    align-items: center;
    /* Esto centrará verticalmente los elementos */
    background-color: rgb(37, 64, 75);
}

ul {
    list-style-type: none;
    /* Eliminar los marcadores de lista predeterminados */
    padding: 0;
    /* Eliminar el relleno predeterminado */
    margin: 0;
    margin-right: 25%;
    /* Eliminar el margen predeterminado */
    display: flex;
    /* Alinear los elementos de la lista en una línea */
}

ul li {
    margin-left: 20px;
    /* Agregar espacio entre los elementos de la lista */
}


h2 {
    margin-left: 10%;
    /* Agregar un pequeño margen a la izquierda para separar el h2 del borde del header */
}



.main {
    display: flex;
    background-color: rgb(185, 125, 45);
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main p {
    max-width: 60%;
}

.main h1 {
    font-weight: Bold;
}

.Content {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.Content-box {
    display: flex;
    flex-direction: column;
    /* Arrange content vertically */
    align-items: center;
    /* Center horizontally */
    justify-content: center;
    text-align: center;
    padding: 50px;
    width: 33%;
    height: 125px;
    color: black;
}

.Content-box img {
    width: 150px;
    height: 150px;
}


.Mid_footer {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly along the main axis */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(37, 64, 75);
    height: 75px;
}

.Mid_footer form {
    display: flex;
    align-items: center;
    ;
}

.Mid_footer p {
    padding-right: 100px;
    font-weight: bold;
}

.Mid_footer input[type="email"] {
    width: 200px;
    padding: 5px;
    /* Add margin to separate input and button */
}

.Mid_footer button {
    padding: 5px 10px;
    background-color: rgb(168, 106, 24);
    margin-left: 10px;
    color: white;
    cursor: pointer;
    border: 10px;
}

.Last_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    height: 48px;
    background-color: rgb(37, 64, 75);
    line-height: 25px;
    /* This ensures vertical alignment */
}