body {
    color: white;
    margin: 0;
}

header {
    display: flex;
    background-color: #263238;
    ;
}

div.main {
    margin: 0;
    display: flex;
    background-color: goldenrod;
}

footer {
    background-color: #263238;
}

div.Mid_footer {
    margin: 0;
}